@charset "UTF-8";
/*要素のスタイルをSCSSで*/
@import url(http://fonts.googleapis.com/css?family=Bitter);
/* line 17, ../scss/gameStyle.scss */
* {
  font-family: "Bitter", serif;
}

/* line 52, ../scss/gameStyle.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

/* line 63, ../scss/gameStyle.scss */
div.titleText {
  text-align: center !important;
  font-family: 'Bitter', serif;
  font-size: 100px !important;
  line-height: 100px;
  color: #38b5fe !important;
  text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, 1px 1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, -2px -2px 0 #ecf0f1, 2px -2px 0 #ecf0f1, 2px 2px 0 #ecf0f1, -2px 2px 0 #ecf0f1, 1px 2px 3px rgba(0, 0, 0, 0.6);
  z-index: 9997 !important;
}
/* line 80, ../scss/gameStyle.scss */
div.titleText span {
  font-family: 'Bitter', serif;
  color: #ff6666 !important;
}

/* line 86, ../scss/gameStyle.scss */
div.touchStart {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #555555;
  z-index: 9999 !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(0, 0, 0, 0.5);
}

/* line 99, ../scss/gameStyle.scss */
div.gameStart {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  color: #36d7b7;
  background: rgba(236, 240, 241, 0.9);
  z-index: 9997 !important;
}

/* line 108, ../scss/gameStyle.scss */
div.tutorial {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  color: #36d7b7;
  background: rgba(236, 240, 241, 0.9);
  z-index: 9997 !important;
}

/* line 117, ../scss/gameStyle.scss */
div.optionLayer {
  z-index: 9999;
  font-size: 64px;
  color: #ecf0f1;
  text-align: center;
  box-sizing: border-box;
}
/* line 123, ../scss/gameStyle.scss */
div.optionLayer button.btn-long {
  border: solid 3px #ecf0f1;
  background: #38b5fe;
  color: #ecf0f1;
  font-size: 32px;
  width: 400px;
}

/* line 131, ../scss/gameStyle.scss */
div.effectLabel {
  font-size: 48px;
}

/* line 135, ../scss/gameStyle.scss */
div.effectSwitch button {
  box-sizing: border-box;
  border: solid 2px #ecf0f1;
  margin: 0;
  padding: 5px 10px;
  font-size: 32px;
  background: #ecf0f1;
  width: 160px;
}
/* line 144, ../scss/gameStyle.scss */
div.effectSwitch.active button {
  background: #38b5fe;
  border: solid 2px #36d7b7;
  color: #ecf0f1 !important;
}

/* line 150, ../scss/gameStyle.scss */
div.optionBackground {
  z-index: 9998 !important;
  border: solid 10px #ecf0f1;
  background: rgba(85, 85, 85, 0.9);
}

/* line 155, ../scss/gameStyle.scss */
div.optionMenuButton {
  font-family: 'WebHostingHub-Glyphs';
  font-size: 32px;
  border-radius: 32px;
  border: solid 1px #555555;
  box-sizing: border-box;
  color: #555555;
  background: #ecf0f1;
  opacity: 0.9 !important;
  z-index: 9999;
}
/* line 165, ../scss/gameStyle.scss */
div.optionMenuButton:after {
  content: '\f306';
  position: absolute;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
}

/* line 174, ../scss/gameStyle.scss */
div.optionMenu {
  width: 640px;
  height: 640px;
}

/* line 181, ../scss/gameStyle.scss */
div.stageSelectText {
  text-align: center !important;
  font-family: 'Bitter', serif;
  font-size: 80px;
  color: #36d7b7 !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.8) !important;
}

/* line 194, ../scss/gameStyle.scss */
div.stageBox {
  text-align: center !important;
  font-size: 64px;
  line-height: 64px;
  color: #f4d03f !important;
  background: #ecf0f1;
}
/* line 200, ../scss/gameStyle.scss */
div.stageBox.nextStage {
  border: solid 5px #36d7b7;
  box-sizing: border-box;
}
/* line 205, ../scss/gameStyle.scss */
div.stageBox.lock:before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f0be';
  text-align: center;
  position: absolute;
  color: #ecf0f1;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
  line-height: 128px;
  background: rgba(0, 0, 0, 0.5);
}

/* line 221, ../scss/gameStyle.scss */
div.backToTopText {
  text-align: center;
  font-size: 30px;
  line-height: 54px;
  background: rgba(236, 240, 241, 0.8);
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 5px rgba(56, 181, 254, 0.5);
}

/* line 230, ../scss/gameStyle.scss */
div.playerStars {
  text-align: right;
  padding-right: 8px;
  font-size: 30px;
  line-height: 64px;
  color: #ecf0f1;
  background: rgba(85, 85, 85, 0.8);
  box-sizing: border-box;
  border-radius: 5px;
}

/*========  box  ========*/
/* line 245, ../scss/gameStyle.scss */
div.box {
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  background: transparent;
}
/* line 248, ../scss/gameStyle.scss */
div.box.touched {
  background: rgba(56, 181, 254, 0.5);
}

/* line 42, ../scss/gameStyle.scss */
div.black {
  box-sizing: border-box;
  background: #555555;
  border-radius: 32px;
  border: solid 2px #f4d03f;
}

/* line 254, ../scss/gameStyle.scss */
div.black {
  text-align: center !important;
  border: none !important;
}
/* line 257, ../scss/gameStyle.scss */
div.black i {
  color: white;
  width: 64px;
  height: 64px;
  font-size: 32px;
  line-height: 64px;
}

/* line 42, ../scss/gameStyle.scss */
div.white {
  box-sizing: border-box;
  background: #ecf0f1;
  border-radius: 32px;
  border: solid 2px #f4d03f;
}

/* line 42, ../scss/gameStyle.scss */
div.red {
  box-sizing: border-box;
  background: #ff6666;
  border-radius: 32px;
  border: solid 2px #f4d03f;
}

/* line 42, ../scss/gameStyle.scss */
div.blue {
  box-sizing: border-box;
  background: #38b5fe;
  border-radius: 32px;
  border: solid 2px #f4d03f;
}

/* line 42, ../scss/gameStyle.scss */
div.green {
  box-sizing: border-box;
  background: #36d7b7;
  border-radius: 32px;
  border: solid 2px #f4d03f;
}

/*======== beam ========*/
/* line 273, ../scss/gameStyle.scss */
div.beam {
  border-radius: 32px;
  z-index: 1;
  background: #f4d03f;
}

/* line 278, ../scss/gameStyle.scss */
div.start {
  border-radius: 32px;
  box-sizing: border-box;
  border: double 24px #f4d03f;
}

/* line 284, ../scss/gameStyle.scss */
div.goal {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: #f4d03f;
}

/* line 292, ../scss/gameStyle.scss */
div.count {
  font-size: 48px !important;
  text-align: center !important;
  line-height: 64px !important;
  width: 64px !important;
  height: 64px !important;
}

/* line 299, ../scss/gameStyle.scss */
div.clearText {
  text-align: center !important;
  font-size: 60px !important;
  font-weight: bold;
  color: #555555 !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 311, ../scss/gameStyle.scss */
div.pipeOut {
  line-height: 64px;
  font-family: 'WebHostingHub-Glyphs';
  font-size: 24px;
}
/* line 315, ../scss/gameStyle.scss */
div.pipeOut:after {
  color: #f4d03f;
  width: 64px;
  height: 64px;
  text-align: center;
}
/* line 321, ../scss/gameStyle.scss */
div.pipeOut.up:after {
  content: '\f301';
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 328, ../scss/gameStyle.scss */
div.pipeOut.right:after {
  content: '\f304';
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 335, ../scss/gameStyle.scss */
div.pipeOut.down:after {
  content: '\f2fe';
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 342, ../scss/gameStyle.scss */
div.pipeOut.left:after {
  content: '\f305';
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

/* line 350, ../scss/gameStyle.scss */
div.forResultBlock {
  background: rgba(0, 0, 0, 0) !important;
}
/* line 352, ../scss/gameStyle.scss */
div.forResultBlock i {
  color: rgba(0, 0, 0, 0) !important;
}

/* line 356, ../scss/gameStyle.scss */
div.gameOverText {
  text-align: center !important;
  font-size: 100px !important;
  font-weight: bold;
  color: #555555 !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 368, ../scss/gameStyle.scss */
div.retryLabelOnGame {
  text-align: center;
  font-size: 30px;
  line-height: 64px;
  color: #ecf0f1;
  background: #555555;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 9999;
  opacity: 0.5 !important;
}
/* line 378, ../scss/gameStyle.scss */
div.retryLabelOnGame:hover {
  opacity: 1 !important;
}
/* line 381, ../scss/gameStyle.scss */
div.retryLabelOnGame:active {
  opacity: 1 !important;
}

/* line 385, ../scss/gameStyle.scss */
#load {
  opacity: 0;
}

/* line 392, ../scss/gameStyle.scss */
div.pointerArrow {
  position: relative;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-right-color: yellow;
}

/* line 400, ../scss/gameStyle.scss */
div.pointerArrow:after {
  position: absolute;
  content: '';
  top: -14px;
  left: 55px;
  width: 50px;
  height: 28px;
  background: yellow;
}

/* line 410, ../scss/gameStyle.scss */
.TutoMessaFirst {
  font-size: 30px;
}

/* line 414, ../scss/gameStyle.scss */
.tuto_white_msg {
  font-size: 20px;
  color: white;
}

/* line 419, ../scss/gameStyle.scss */
.tuto_black_msg {
  font-size: 20px;
  color: black;
}

/* line 424, ../scss/gameStyle.scss */
.tuto_clear_msg {
  font-size: 40px;
  color: black;
}

/* line 430, ../scss/gameStyle.scss */
.msg {
  font-size: 20px;
}
