@charset "UTF-8";
/*要素のスタイルをSCSSで*/
@font-face {
  font-family: Mplus;
  src: url("../font/mplus-1c-regular.ttf");
}

/* line 16, ../scss/gameStyle.scss */
* {
  font-family: Mplus;
}

/* line 19, ../scss/gameStyle.scss */
body {
  background: #555555;
}

/* line 57, ../scss/gameStyle.scss */
div.titleText {
  text-align: center !important;
  font-family: Mplus;
  font-size: 100px !important;
  color: #f1c40f !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(255, 255, 255, 0.6);
}

/* line 70, ../scss/gameStyle.scss */
div.gameStart {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  color: #36d7b7;
  background: #ecf0f1;
}

/* line 78, ../scss/gameStyle.scss */
div.tutorial {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  color: #36d7b7;
  background: #ecf0f1;
}

/* line 86, ../scss/gameStyle.scss */
div.delete {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  color: #36d7b7;
  background: #ecf0f1;
}

/* line 97, ../scss/gameStyle.scss */
div.stageSelectText {
  text-align: center !important;
  font-family: Mplus;
  font-size: 80px;
  color: #555555 !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.8) !important;
}

/* line 110, ../scss/gameStyle.scss */
div.stageBox {
  text-align: center !important;
  font-family: Mplus;
  font-size: 64px;
  line-height: 64px;
  color: #f1c40f !important;
  border-radius: 10px;
}

/* line 118, ../scss/gameStyle.scss */
div.stageBox.last {
  border: solid 5px #36d7b7;
  box-sizing: border-box;
}

/* line 123, ../scss/gameStyle.scss */
div.backToTopText {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  background: rgba(236, 240, 241, 0.8);
  border-radius: 5px;
  border: solid 5px rgba(56, 181, 254, 0.5);
}

/*========  box  ========*/
/* line 136, ../scss/gameStyle.scss */
div.box {
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  background: transparent;
}
/* line 139, ../scss/gameStyle.scss */
div.box.touched {
  background: rgba(56, 181, 254, 0.5);
}

/*======== black ========*/
/* line 44, ../scss/gameStyle.scss */
div.black {
  background: #555555;
  border-radius: 50%;
}

/* line 146, ../scss/gameStyle.scss */
div.black {
  text-align: center !important;
}
/* line 148, ../scss/gameStyle.scss */
div.black i {
  color: white;
  width: 64px;
  height: 64px;
  font-size: 32px;
  line-height: 64px;
}

/*======== white ========*/
/* line 44, ../scss/gameStyle.scss */
div.white {
  background: #ecf0f1;
  border-radius: 50%;
}

/*======== red ========*/
/* line 44, ../scss/gameStyle.scss */
div.red {
  background: #ff6666;
  border-radius: 50%;
}

/*======== blue-effect ========*/
/* line 44, ../scss/gameStyle.scss */
div.blue {
  background: #38b5fe;
  border-radius: 50%;
}

/*======== lime-effect ========*/
/* line 44, ../scss/gameStyle.scss */
div.green {
  background: #36d7b7;
  border-radius: 50%;
}

/*======== purple-effect ========*/
/* line 44, ../scss/gameStyle.scss */
div.purple {
  background: #bf77ec;
  border-radius: 50%;
}

/*======== beam ========*/
/* line 172, ../scss/gameStyle.scss */
div.beam {
  border-radius: 50%;
}

/* line 175, ../scss/gameStyle.scss */
div.start {
  border-radius: 50%;
}

/* line 179, ../scss/gameStyle.scss */
div.goal {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* line 186, ../scss/gameStyle.scss */
div.count {
  font-size: 48px !important;
  text-align: center !important;
  line-height: 64px !important;
  width: 64px !important;
  height: 64px !important;
}

/* line 193, ../scss/gameStyle.scss */
div.clearText {
  text-align: center !important;
  font-family: Mplus;
  font-size: 60px !important;
  font-weight: bold;
  color: #555555 !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 206, ../scss/gameStyle.scss */
div.forResultBlock {
  background: rgba(0, 0, 0, 0) !important;
}
/* line 208, ../scss/gameStyle.scss */
div.forResultBlock i {
  color: rgba(0, 0, 0, 0) !important;
}

/* line 212, ../scss/gameStyle.scss */
div.gameOverText {
  text-align: center !important;
  font-family: Mplus;
  font-size: 100px !important;
  font-weight: bold;
  color: #555555 !important;
  text-shadow: -1px -1px 0px #ecf0f1, 1px -1px 0px #ecf0f1, 1px 1px 0px #ecf0f1, -1px 1px 0px #ecf0f1, 1px 2px 3px rgba(0, 0, 0, 0.6);
}

/*
#enchant-stage{
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}
*/
/* line 232, ../scss/gameStyle.scss */
#load {
  opacity: 0;
}

/* line 237, ../scss/gameStyle.scss */
div.pointerArrow {
  position: relative;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-right-color: yellow;
}

/* line 245, ../scss/gameStyle.scss */
div.pointerArrow:after {
  position: absolute;
  content: '';
  top: -14px;
  left: 55px;
  width: 50px;
  height: 28px;
  background: yellow;
}

/* line 255, ../scss/gameStyle.scss */
.TutoMessaFirst {
  font-size: 30px;
}

/* line 250, ../scss/gameStyle.scss */
.tuto_white_msg {
/* line 259, ../scss/gameStyle.scss */
  font-size: 20px;
  color: white;
}

/* line 255, ../scss/gameStyle.scss */
.tuto_black_msg {
/* line 264, ../scss/gameStyle.scss */
  font-size: 20px;
  color: black;
}

/* line 260, ../scss/gameStyle.scss */
.tuto_clear_msg {
  font-size: 40px;
  color: black;
}

/* line 266, ../scss/gameStyle.scss */
.msg {
  font-size: 20px;
}
