/*要素のスタイルをSCSSで*/
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Bitter);

@font-face {
  font-family: Mplus;
  src: url('../font/mplus-1c-regular.ttf');
}

$col-black:  #555555;
$col-white:  #ecf0f1;
$col-blue:   #38B5FE;
$col-green:  #36D7B7;
$col-red:    #ff6666;
$col-purple: #BF77EC;
$col-yellow: #f1c40f;
$col-orange: #FFA533;
$col-pink:   #FFCCFF;
*{
	font-family: Mplus;
}
body{
	// background: $col-black;
}

//=======================//
//         mixin         //
//=======================//
$prefixes: ("-webkit-", "-moz-","-ms-","-o-",null);
@mixin keyframes($name){
  @-webkit-keyframes $name {
    @content;
  }
  @-moz-keyframes $name {
    @content;
  }
  @keyframes $name {
    @content;
  }
}
@mixin animation($name, $duration, $timing, $delay, $count, $direction: null) {
  @each $prefix in $prefixes {
      #{$prefix}#{animation}: $name $duration $timing $delay $count $direction;
  }
}
@mixin blockAndBeam($color,$hex){
	div.#{$color}{
		background: rgba($hex,1);
		border-radius: 50%;
	}
}
//=======================//
//         style         //
//=======================//


//===========================================
// TITLE SCENE
//===========================================
div.titleText{
	text-align: center !important;
	font-family: 'Bitter', serif;
	font-size: 100px !important;
    line-height: 100px;
	color: $col-blue !important;
	text-shadow:
	-1px -1px 0 $col-white,
	1px -1px 0 $col-white,
	1px 1px 0 $col-white,
	-1px 1px 0 $col-white,
    -2px -2px 0 $col-white,
    2px -2px 0 $col-white,
    2px 2px 0 $col-white,
    -2px 2px 0 $col-white,
	1px 2px 3px rgba(0, 0, 0, 0.6);
    z-index:9999 !important;
    span{
        font-family: 'Bitter', serif;
        color: $col-red !important;
    }

}
div.touchStart{
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: $col-black;
  z-index:9999 !important;
  text-shadow:
  -1px -1px 0px $col-white,
  1px -1px 0px $col-white,
  1px 1px 0px $col-white,
  -1px 1px 0px $col-white,
  1px 2px 3px rgba(0, 0, 0, 0.5);
}
div.gameStart{
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  color: $col-green;
  background: rgba($col-white,0.9);
  z-index:9999 !important;
}
div.tutorial{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    color: $col-green;
    background: rgba($col-white,0.9);
    z-index:9999 !important;
}
div.delete{
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  color: $col-green;
  background: $col-white;
}
//===========================================
// SELECT SCENE
//===========================================
div.stageSelectText{
	text-align: center !important;
	font-family: 'Bitter', serif;
	font-size: 80px;
	color: $col-green !important;
	text-shadow:
	-1px -1px 0px $col-white,
	1px -1px 0px $col-white,
	1px 1px 0px $col-white,
	-1px 1px 0px $col-white,
	1px 2px 3px rgba(0, 0, 0, 0.5);
	background: rgba(white,0.8) !important; // backbutton branch 変更分 (0609)
}
div.stageBox{
	text-align: center !important;
	font-family: Mplus;
	font-size: 64px;
	line-height: 64px ;
	color: $col-yellow !important;
	border-radius: 10px;
    &.nextStage{
        border:solid 5px $col-green;
        box-sizing: border-box;
    }
    &.lock{
        &:before{
            font-family:'WebHostingHub-Glyphs';
            content:'\f0be';
            text-align: center;
            position: absolute;
            color: $col-white;
            top: 0;
            left: 0;
            width: 128px;
            height: 128px;
            line-height: 128px;
            border-radius: 10px;
            background: rgba(0,0,0,0.5);;
        }
    }
}
// backbutton branch 追加分 (0609)
div.backToTopText{
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    background: rgba($col-white,0.8);
    border-radius: 5px;
    border: solid 5px rgba($col-blue,0.5);
}

//===========================================
// STAGE SCENE
//===========================================
/*========  box  ========*/
div.box{
	@include transition(background 0.2s ease-out);
	background: transparent;
	&.touched{
		background: rgba($col-blue,0.5);
	}
}

@include blockAndBeam(black,$col-black);
div.black{
	text-align: center !important;
	i{
		color: white;
		width: 64px;
		height: 64px;
		font-size: 32px;
		line-height: 64px;
	}
}
@include blockAndBeam(white,$col-white);
@include blockAndBeam(red,$col-red);
@include blockAndBeam(blue,$col-blue);
@include blockAndBeam(green,$col-green);
@include blockAndBeam(purple,$col-purple);
@include blockAndBeam(orange,$col-orange);

/*======== beam ========*/
div.beam{
	border-radius: 50%;
    z-index:1;
}
div.start{
	border-radius: 50%;
  box-sizing: border-box;
  border: double 24px $col-yellow;
}

div.goal{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

div.count{
	font-size: 48px !important;
	text-align: center !important;
	line-height: 64px !important;
	width: 64px !important;
	height: 64px !important;
}
div.clearText{
	text-align: center !important;
	font-family: Mplus;
	font-size: 60px !important;
	font-weight: bold;
	color: $col-black !important;
	text-shadow:
	-1px -1px 0px $col-white,
	1px -1px 0px $col-white,
	1px 1px 0px $col-white,
	-1px 1px 0px $col-white,
	1px 2px 3px rgba(0, 0, 0, 0.6);
}
div.forResultBlock{
	background: rgba(0,0,0,0) !important;
	i{
		color: rgba(0,0,0,0) !important;
	}
}
div.gameOverText{
	text-align: center !important;
	font-family: Mplus;
	font-size: 100px !important;
	font-weight: bold;
	color: $col-black !important;
	text-shadow:
	-1px -1px 0px $col-white,
	1px -1px 0px $col-white,
	1px 1px 0px $col-white,
	-1px 1px 0px $col-white,
	1px 2px 3px rgba(0, 0, 0, 0.6)
}
#load{
	opacity: 0;
}


div.pointerArrow{
  position: relative;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-right-color: yellow;
}

div.pointerArrow:after{
  position: absolute;
  content: '';
  top: -14px;
  left: 55px;
  width: 50px;
  height: 28px;
  background: yellow;
}

.TutoMessaFirst{
  font-size: 30px;
}

.tuto_white_msg{
	font-size:  20px;
	color: white;
}

.tuto_black_msg{
	font-size:  20px;
	color: black;
}

.tuto_clear_msg{
  font-size: 40px;
  color: black;
}

.msg
{
	font-size: 20px;
}
